<head>
  <link rel='stylesheet' type='text/css' href="style.css">
</head>
<body>
  <div class='teapot'>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
    <div class= 'marquee'>
      <p class='marquee'> 418 ERROR THIS IS A TEAPOT </p>
    </div>
  </div>
</body>
