<head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<body>
<div id='index_background'>
  <table id='index_table' border="1">
    <thead>
      <td class='blog'>
        <img src='
http://www.textfiles.com/underconstruction/vovooo13gifSupercompressed_koala-construct3.GIF'
      </td>
      <td>
        <div class='marquee'>
         <p>WELCOME TO OUR GEOCITIES PAGE</p>
         <p>WELCOME TO OUR GEOCITIES PAGE</p>
       </div>
      </td>
    </thead>
    <tr class='head'>
      <th class='blog'>Blog</th>
      <th class='fire'></th>
    </tr>
    <tr>
      <td class='blog'>
        <div>
          <strong>
          <h4> Hi guys, </h4>
          <p>
            Sorry I haven't updated in a while, life has been a bit busy LOL XD, will update shortly
            cya xxx
          </p>
          <em> 06/04/2002 </em>
        </div>

        <div>
          <h4> Dynamic leadership</h4>
          <p>
            Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive supply chains with distinctive quality vectors.
          </p>
          <em> 09/09/1998 </em>
        </div>

        <div>
          <h4> 2.0 technoloy </h4>
          <p>
            Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks with compelling e-business.
          </p>
          <em> 09/07/1998 </em>
        </div>

        <div>
          <h4> strategc rediness </h4>
          <p>
            Appropriately implement visionary e-services vis-a-vis strategic web-readiness.
          </p>
          <em> 09/04/1998 </em>
        </strong>
        </div>

      </td>
      <td>
        <iframe src="/login"></iframe>
      </td>
    </tr>
    <tr>
      <td>
        <div class="hit_counter"> </div>
      </td>
      <td>
        <div class='fire'>
          <a href="/418"> Please sign our guestbook </a>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
