<html>
<head>
	<title>Battle Start</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>

	<table class="main_wrapper" border="1">
		<img src=""/>
		<tr>
			<td>
				<table id="multiplayer" border="1">
					<form action="/names" method="POST">
						<tr>
							<td>
								<input type="Text" name="Player1" placeholder="Player 1">
							</td>
							<td>
								<input type="Text" name="Player2" placeholder="Player 2">
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" id="Submit" value="2 Player">
							</td>
						</tr>
					</form>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table id="single_player" border="1">
					<form action="/single" method="POST">
						<tr>
							<td>
								<input type="text" name="Player" placeholder="Player">
							</td>
						</tr>
						<input type="hidden" name="AI" value="Capybara">
						<tr>
							<td>
								<input type="submit" id="single_player" value="Single player">
							</td>
						</tr>
					</form>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
