#index_table {
  width: 1024px;
  height: 720px;
}


.marquee {
  height: 200px;
  overflow: hidden;
  position: relative;
  color: white;
}
.marquee p {
  font-size: 56px;
  font-family: fantasy;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: marquee 15s linear infinite;
  -webkit-animation: 15s linear infinite;
  animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.blog {
  width: 20%;
  background-image: url('./images/bgfire3.gif');
  color: white;

}

thead {
  height: 10%;
}

.head {
  height: 10%;
}

iframe {
  height: 100%;
  width: 100%;
}

.image1 {
  width: 20%;
}

.image2 {
  width: 40%;
  color: white;
  font-size: 16px;
  font-family: fantasy;
}

.image3 {
  width: 20%;
}

.main_wrapper {
  background-image: url('./images/greenwonder.gif');
  width: 800px;
}

#index_background {
  background-image: url('./images/bghippy.gif');
}

img:-moz-broken {
    -moz-force-broken-image-icon: 1;
}

.active_player {
  color: white;
  font-size: 50px;
}

.inactive_player {
  color: red;
  font-size: 20px;
}

.opponent_data {
  color: red;
  font-size: 20px;
}

.message_container {
  color: orange;
  font-size: 18px;
}

*{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
